header
{
	height: 100%;
	width: 100%;
}

.flex
{
  display: flex;
  text-align: center;
}

.flex > div
{
  background-color: green;
  width: 33%;
  height: 500px;
  margin: 10px;
  padding: 10px;
}